*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

html{
    font-size: 62.5%;
}

:root{
    --bg-color:#f4f3ff;
    --btn-color:#636cff;
    --dark-color:#242424;
    --helper-color: #99b9ff;
}

body{
    margin: 0;
    min-width: 32rem;
    min-height: 100vh;

}

h1{
    font-size: 5.4rem;
    line-height: 1.1;
    font-weight: bold;
}

p,
li,
label,
input,
textarea{
    font-size: 1.8rem;
    line-height: 1.56;
    letter-spacing: 0.1rem;
    white-space: 0.06rem;
}

a{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--btn-color);
    text-decoration: inherit;
}

li{
    list-style: none;
}
.container{
    max-width: 140rem;
    margin: 0 auto;
    padding: 4rem 2.4rem;
}


.grid{
    display: grid;
    gap: 6.4rem;
}

.grid-two-cols{
grid-template-columns: repeat(2, 1fr);
}
.grid-four-cols{
    grid-template-columns: repeat(4, 1fr);
}


button{
    text-transform: capitalize;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-weight: 500;
    background-color: var(--btn-color);
    border-radius: 0.8rem;
    border: 0.1rem  solid transparent;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: border-color 0.3s;
}

.secondary-btn{
    background-color: transparent;
     box-shadow: inset 0 0 0 0.2rem var(--btn-color);
     margin-left: 3.2rem;
}


button:hover{
    box-shadow: inset 0 0 0 0.2rem var(--bg-color);
}





/* section here */
.section-hero .grid {
  align-items: center;
}

.section-hero .hero-content p {
  margin: 2.4rem 0 4.8rem 0;
}

.section-hero .hero-content p:first-child {
  margin: 0 0 1.3rem 0;
}

.section-hero .hero-image {
  display: flex;
  justify-content: center;
}

.section-hero .hero-image img {
  width: 100%;
}

/* section here end */



/* section card */
.section-card{
margin: 0.6rem 0;
}
.section-card > .container {
    background-color: var(--btn-color);
    border-radius: 1rem;
}
.section-card > .grid{
    color: var(--dark-color);
}
.section-card > .container > .div1{
text-align: center;
border-right: 0.2rem solid var(--dark-color);
}
.section-card > .container > .div1:last-child{
border: none;

}
.section-card > .container > .div1 > h2{
font-size: 4.8rem;

}
.section-card > .container > .div1 > p{
text-transform: capitalize;
}

/*  section card end*/