.header {
  background-color: #c5c5c5;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.6rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoBrand a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
}

.nav {
  display: flex;
}

.navList {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.navList a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease-in;
}

.navList a.active {
  color: #007bff;
}

.navList a:hover {
  color: #007bff;
}

/* Hamburger Button */
.menuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menuToggle {
    display: block;
  }

  .nav {
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #fff;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .nav.active {
    max-height: 300px;
  }

  .navList {
    width: 100%;
    display: flex;
     gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    /* padding: 1rem 0; */
  }

  .navList li {
    
    padding: 0.2rem 0;
  }
}