.sectionServices {
  padding: 4rem 1rem;
  background: #f9fafb;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.mainHeading {
  font-size: 2.6rem;
  text-align: center;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 0.5rem;
}

.subHeading {
  text-align: center;
  color: #4b5563;
  font-size: 1.15rem;
  margin-bottom: 3rem;
}

/* Grid Layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.2rem;
}

/* Card */
.card {
  background: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

/* Image */
.cardImage img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

/* Card Content */
.cardDetails {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.serviceName {
  font-size: 2.5rem;
  font-weight: 600;
  color: #0d6efd;
  margin-bottom: 0.6rem;
}

.description {
  color: #444;
  font-size: 1.95rem;
  line-height: 1.6;
  margin-bottom: 1.4rem;
}

/* Footer Info */
.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid #e5e7eb;
}

.provider {
  color: #111;
  font-size: 2.5rem;
  font-weight: 500;
}

.price {
  color: #16a34a;
  font-size: 1.85rem;
  font-weight: 700;
}

/* Loading State */
.loading {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  background: white;
  padding: 2rem;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

.modalBox input {
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.verifyBtn {
  background: #0d6efd;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
}

.cancelBtn {
  background: #d1d5db;
  color: black;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
}

/* Responsive */
@media (max-width: 768px) {
  .mainHeading {
    font-size: 2.2rem;
  }
}

@media (max-width: 500px) {
  .serviceName {
    font-size: 1.25rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .cardImage img {
    height: 200px;
  }
}
